
EssentialFeed.xcodeproj/project.xcworkspace/xcuserdata/aminfaruq.xcuserdatad/UserInterfaceState.xcuserstate

EssentialFeed.xcodeproj/xcuserdata/aminfaruq.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
