# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: CI

on:
  push:
    branches: [ "network-module" ]
  pull_request:
    branches: [ "network-module" ]

jobs:
  build:
  
    runs-on: macos-latest

    timeout-minutes: 10
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Select Xcode 
      run: sudo xcode-select -switch /Applications/Xcode.app

    - name: Xcode version
      run: /usr/bin/xcodebuild -version

    - name: Build and test
      run: xcodebuild clean build test -project essential-developer-case-study/EssentialFeed.xcodeproj -scheme "CI" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -sdk macosx -destination "platform=macOS" ONLY_ACTIVE_ARCH=YES
    # - name: Build
    #   run: swift build -v
    # - name: Run tests
    #   run: swift test -v
